<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon routerLink="/tabs/tab1" class="logo" name="heart-circle-outline"></ion-icon>
    </ion-buttons>
    <ion-title routerLink="/tabs/tab1">RoutineTracker</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!imgPerfil" routerLink="/tabs/perfil">
        <ion-icon style="scale: 2; margin-right: 0.5rem;" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button *ngIf="imgPerfil" routerLink="/tabs/perfil">
        <img style="width: 38px; height: 38px; border-radius: 50%;" [src]="imgPerfil" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Rutinas</ion-label>
    </ion-tab-button>
<!--
    <ion-tab-button tab="tab2">
      <ion-icon  name="barbell-outline"></ion-icon>
      <ion-label>Ejercicios</ion-label>
    </ion-tab-button>-->
<!--
    <ion-tab-button tab="tab3">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Estadísticas</ion-label>
    </ion-tab-button>-->
  </ion-tab-bar>
</ion-tabs>
