<ion-header>
  <ion-toolbar>
    <ion-title>Rutinas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let routine of routines" (click)="viewRoutineDetails(routine.id)">
      <ion-thumbnail slot="start">
        <img [src]="routine.img" *ngIf="routine.img" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ routine.nombre }}</h2>
        <p>Duración de la rutina: {{ routine.duracion }} minutos</p>
        <p>Días en que se realiza: {{ routine.numdia.join(', ') }}</p>
        <p>Fecha de creación: {{ routine.createdAt }}</p>
        <p>Número de ejercicios: {{ routine.ejercicios.length }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
