ion-content {
    --background: #f4f4f4;
  }
  .form-container{
    ion-item {
        --padding-start: 15px;
        --padding-end: 15px;
        margin-bottom: 10px;
      }
      
      .form-item {
        margin-bottom: 15px;
      }
      
      .routine-image {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
      }
  }